<div class='row m-5'>
  <h2>STUPID COACHING</h2>
  <div class="col border-left: 1px solid #6c757d">
  <div class='col conteudo m-4'>
    <p class=""><i><%= @question.capitalize %></i></p>
    <p>-- You</p>
    <p><strong><%= @answer %></strong></p>
    <p >-- Your coach</p>
    <%= link_to 'Ask a new question', ask_path %>
  </div>
  </div>
</div>
